* {
	background-color: ghostwhite;
	font-family: 'Recursive', sans-serif;
	margin: 0;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.container {
	display: flex;
	padding-bottom: 2rem;
	margin: 3rem;
	max-width: 100%;
}

.settings {
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	padding: 2rem 1rem;
}

.settings button {
	margin: 0 0.5rem;
}

.directions {
	display: flex;
	flex-flow: column;
	width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	.container {
		flex-flow: column;
		margin: 0 0;
		text-align: center;
	}

	.controls {
		flex-flow: column;
	}

	.controls button {
		margin: 0.5rem 0;
	}

	.settings {
		flex-flow: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.settings button {
		margin: 0.5rem 0;
	}

	.directions {
		padding-top: 1rem;
	}

	.generations {
		text-align: center;
	}
}
